<!--<div class="d-flex align-items-center w-100">-->
<!--  <div>-->
<!--    <img class="rounded-2" src="{{item?.iconUrl ?? 'https://placehold.co/100x100'}}" height="50" width="50">-->
<!--  </div>-->
<!--  <div class="ms-2 d-flex align-content-around flex-column justify-content-center w-100 p-2">-->
<!--    <div class="fw-bold">{{item?.name}}</div>-->
<!--    <div>-->
<!--        <span>{{structureName}}</span>-->
<!--    </div>-->
<!--    <div class="text-muted">-->
<!--        {{item?.city+", "+item?.country}}-->
<!--    </div>-->
<!--    <div class="text-muted">{{ item?.beginAt+" - "+ item?.endAt }}</div>-->
<!--  </div>-->
<!--</div>-->
<div class="d-flex m-2 row">
  <div class="border card shadow p-2">
    <div class="my-3 border d-flex">
      <div>
        <img class="rounded-2" src="{{item?.iconUrl ?? 'https://placehold.co/100x100'}}" height="50" width="50">
      </div>
      <div class="border ms-3">
        <div class="fw-bold">{{item?.name}}</div>
        <div class="card-title">{{structureName}}</div>
      </div>
    </div>
  </div>
</div>
