<div class="flex justify-center flex-col items-center">
    <div class="text-3xl font-bold my-9">
        Compétences
    </div>
    <div class="grid grid-cols-3 gap-8">
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/programming-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">Langages</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/framework-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">Frameworks/Librairies</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/database-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">Base de données</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/cloud-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">CLOUD</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/ci-cd.png" alt="Programming icon">
                <div class="font-bold text-xl">CI/CD</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/gestion-projet-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">Gestion de projets</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/mobile-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">Mobile</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
        <div class="border border-zinc-300 p-3 shadow-md w-72 h-56 flex flex-col items-center justify-center space-y-8">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src="../../assets/images/icons/other-icon.png" alt="Programming icon">
                <div class="font-bold text-xl">Autres</div>
            </div>
            <div class="text-center">Java, PHP, TypeScript, Dart, HTML/CSS</div>
        </div>
    </div>
</div>