<div class="p-4 md:min-h-96 space-y-4 md:space-y-6 flex flex-col items-center justify-center border-1 border">
  <div class="text-3xl">Bonjour,</div>
  <div class="md:text-4xl">Je suis Tuo Adama</div>
  <div class="md:text-4xl">Développeur Full-Stack</div>
  <p class="md:text-4xl">Passionné par les nouvelles technologies</p>
  <p class="space-x-3">
    <a target="_blank" class="bg-black hover:opacity-70 text-white font-bold py-2 px-4 rounded" href="assets/cv/dev-angular-full-stack.pdf">Explorez mon cv</a>
    <a class="bg-black hover:opacity-70 text-white font-bold py-2 px-4 rounded" href="tel:+33751097177">Contactez-moi</a>
  </p>
</div>
