<div class="flex justify-center mt-10">
  <h2 class="text-3xl font-semibold">Quelques images de réalisation</h2>
</div>


<div class="swipe-container flex items-center flex-col mt-10">
  <div class="w-[60vw] swipe-wrapper flex overflow-x-hidden snap-x snap-mandatory scroll-smooth">
    <div id="swiper-item-1" class="swiper-item flex-[1_0_100%]">
      <img class="aspect-video w-full h-full snap-start  shadow" src="assets/images/data-rider-cover.JPEG" alt="">
    </div>
    <div id="swiper-item-2" class="swiper-item flex-[1_0_100%]">
      <img class="aspect-video w-full h-full snap-start shadow" src="assets/images/data-rider-two-player.PNG" alt="">
    </div>
    <div id="swiper-item-3" class="swiper-item flex-[1_0_100%]">
      <img class="aspect-video w-full h-full snap-start shadow" src="assets/images/watboard-trend.PNG" alt="">
    </div>
  </div>
  <div class="mt-2 swiper-pagination translate-middle-x bottom-0 space-x-6 py-2 flex">
    <a class="p-2 border-zinc-400 bg-black rounded-[50%] border z-10" href="#swiper-item-1"></a>
    <a class="p-2 border-zinc-400 rounded-[50%] border z-10" href="#swiper-item-2"></a>
    <a class="p-2 border-zinc-400 rounded-[50%] border z-10" href="#swiper-item-3"></a>
  </div>
</div>
