<div class="flex justify-center mt-10">
  <h2 class="text-3xl font-semibold">Quelques images de réalisation</h2>
</div>

<div class="flex justify-center relative border py-6">
  <div class="w-[50vw] h-[50vh] relative overflow-x-hidden">
    <div #slideItem class="w-[50vw] h-[50vh] absolute slide-out">
      <img class="w-full h-full" src="assets/images/data-rider-cover.JPEG" alt="Un personnage dans une voiture de karting">
    </div>
    <div #slideItem class="w-[50vw] h-[50vh] absolute left-[100%]">
      <img class="w-full h-full"  src="assets/images/data-rider-two-player.PNG" alt="Un personnage dans une voiture de karting">
    </div>
    <div #slideItem class="w-[50vw] h-[50vh] absolute left-[100%]">
      <img class="w-full h-full"  src="assets/images/watboard-trend.PNG" alt="Un personnage dans une voiture de karting">
    </div>
  </div>

  <div class="absolute left-1/2 bottom-0 space-x-3">
    <input type="radio" name="radio">
    <input type="radio" name="radio">
    <input type="radio" name="radio">
  </div>

</div>
