<nav class="navbar navbar-expand-sm">
  <a [routerLink]="['/']" class="navbar-brand">
    <img src="favicon.png" height="45" width="45"/>
  </a>
  <button class="navbar-toggler mr-auto"
          type="button"
          data-toggle="collapse"
          data-target="#nav-content"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav my-2 align-items-center">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link text-dark">Accueil</a>
      </li>
      <li class="nav-item mx-lg-4">
        <a href="#experiences" class="nav-link text-dark">Expériences</a>
      </li>
      <li class="nav-item">
        <a href="#experiences" class="nav-link text-dark">Formations</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a href="#contact-me" class="nav-link text-dark">Contactez-moi</a>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
