<app-presentation/>
<div class="flex justify-center items-center">
  <div class="flex flex-col w-[85vw] p-5 space-y-10">
    <div class=" items-center flex justify-between">
      <div>
        <div class="text-3xl font-semibold">Projets</div>
        <div class="mt-2 text-md text-zinc-500">Mes projets personnels et les projets auxquels j'ai collaborés</div>
      </div>
      <div><a href="#" class="border px-4 py-2 rounded">Voir plus <i class="fa-solid fa-arrow-right"></i></a></div>
    </div>
    <div class="flex space-x-3 items-center justify-center">
      <div class="shadow border flex flex-col p-6 rounded-2xl space-y-3">
        <div>
          <img class="h-[80px]" src="assets/images/icons/house.png" alt="">
        </div>
        <div class="text-2xl semi-bold">
          Recherche automatique de logements
        </div>
        <div class="text-xl text-zinc-500">
          Définissez les critères de recherche et notre système se charge du reste
        </div>
        <div>
          <button class="bg-black text-white rounded-xl p-3">En savoir plus <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="flex flex-col justify-between h-full space-y-5">
        <div class="shadow p-5 rounded-2xl space-y-3 border flex justify-evenly">
          <div>
            <img class="h-[60px]" src="assets/images/icons/olt.png" alt="On loue tout image">
          </div>
          <div>
            <div class="text-xl font-semibold">
              URL Shorter
            </div>
            <div class="text-lg text-zinc-600">
              Permet de raccourcir les URL
            </div>
          </div>
        </div>
        <div class="shadow px-2 py-5 rounded-2xl space-y-3 border flex justify-evenly">
          <div>
            <img class="h-[60px]" src="assets/images/icons/olt.png" alt="On loue tout image">
          </div>
          <div>
            <div class="text-xl font-semibold">
              URL Shorter
            </div>
            <div class="text-lg text-zinc-600">
              Permet de raccourcir les URL
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-silder></app-silder>
