<div>
  <app-nav-bar></app-nav-bar>
  <div>
    <div class="row">
      <div class="col-6 border d-flex flex-column justify-content-center p-3">
        <h1>Hello!,</h1>
        <h1>Je suis Tuo Adama</h1>
      </div>
      <div class="col-6 p-3">
        <h4>Développeur Full-Stack Java/Angular,</h4>
        <h4>depuis deux maintenant</h4>
        <p class="my-3">Passionné par les nouvelles technologies</p>
        <p>
          <button class="btn btn-dark p-2">Explorez mon cv</button>
          <button class="btn btn-outline-dark ms-2 p-2">Contactez-moi</button>
        </p>
      </div>
    </div>
  </div>
</div>
